.flex {
    display: flex;
}

.stepper-container {
    display: flex;
    align-items: center;
}

.stepper-container span {
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    transition: .7s ease-out;
}

.stepper-container span.active {
    border: 1px solid #664DE5;
    background-color: #664DE5;
    color: #fff;
}

.stepper-container .line {
    width: 60px;
    height: 1px;
    background-color: #eee;
    transition: .7s ease-out;
}

.stepper-container .line.active {
    background-color: #7d67ee;
}